button {
    background-color:#42b983;
    color: #2c3e50;
    width: 50%;
    text-kashida-space: true;
    .button:hover;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.sisend {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.sisend1 {
    position: relative;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;


}
