
.sisend {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 12px;
}

.sisend1 {
    border-radius: 12px;

}
.sisend2 {
    background-color:white;
    color: lightgreen;
    width: 20%;
    text-kashida-space: true;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    cursor: pointer;
}

.sisend2:hover:enabled {
    background-color: #4CAF50;
    color: white;
}

table {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
}
.deletebutton {
    background-color: white;
    color: red;
    width: 100%;
    text-kashida-space: true;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
    cursor: pointer;
}
.deletebutton:hover {
    background-color: red;
    color: white;
}

h1 {
    color: black;
    font-family: "Colonna MT";
    font-weight: 5000;
    font-size: 40px;
}
#peal {
    width: 40%;
    margin-left: 30%;
}

.personaalne {
    width: 40%;
    margin: 8px 0;
    box-sizing: border-box;
    height: 50px;
    word-break: break-word;
    border-radius: 12px;
}

span {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 12px;
    color: red;
}
#labell {
    background-color:white;
    color: lightgreen;
    width: 20%;
    text-kashida-space: true;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
    cursor: pointer;
}
#labell:hover {
    background-color: #4CAF50;
    color: white;
}

#csv {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

